.post-title {
  color: $primary-color;
  margin-bottom: 0;
}

blockquote {
    margin-bottom: 0;
    margin-top: 0;
    border-left: 0.4em solid rgba($primary-color, .8);
    padding-left: 1em;

    p {
        margin-bottom: 0;
        margin-top: 0;
        font-family: Baskerville;
        font-size: 1.1rem;
    }
}

.padded-block-quote {
    padding-bottom: 10px;

    p {
        font-family: Baskerville;
        font-size: 1.1rem;
    }
}

.post-content {
  pre {
    border-left: 0.4em solid rgba($primary-color, .8);
    padding-left: 1em;
  }
  img {
    max-width: 100%;
  }
  // a {
  //     color: $darkest-color;
  //     &:hover {
  //         color: #0e87cc;
  //     }
  // }
}

.post-meta {
  font-size: 1em;
}
