.post-title {
  color: $primary-color;
  margin-bottom: 0;
}

blockquote {
    margin-bottom: 0;
    margin-top: 0;

    p {
        margin-bottom: 0;
        margin-top: 0;
        font-family: Baskerville;
        font-size: 1.1rem;
    }
}

.post-content {
  pre {
    border-left: 0.4em solid rgba($primary-color, .8);
    padding-left: 1em;
  }
  img {
    max-width: 100%;
  }
}

.post-meta {
  font-size: 1em;
}

a {
  color: $darkest-color;
  &:hover {
      color: #0e87cc;
  }
}
